/*
* Default extra small devices
*/
body {
  margin: 0px;
  padding: 0px;
  /* everything will be centered unless it is overridden */
  text-align: center;
  font-family: RobotoDraft;
  color: white;
  font-size: 1em;
  line-height: 1.5em;
}




.full-welcome {
  padding: 3% 0px 0px 0px;
  /* TODO: find a nice image */
  /*background-image: url("../img/nopalcode-ico.gif");*/
  /*background-repeat: no-repeat;
  background-position: center;*/
  background-color: #8BC34A;
}

.title {
  font-weight: bold;
  margin: 1% auto;
  font-size: large;
}

.subtitle {
  font-size: small;
  font-style: italic;
}

.button-section {
  margin-top: 20px;
}

.page-content {
  margin: 0px 1%;
  padding: 0px;
  color: #646464;
}

.welcome .page-content {
  background-color: white;
}

.fixed-text {
  text-align: justify;
  font-style: normal;
}

  .post-row {
    margin-top: 20px;
    width: 100%;
  }

.post-box {
  width: 100%;
  margin: 20px 0px;
  border-bottom: solid 1px black;
}

  .post-box:hover {
    /* make the illusion of a link element */
    cursor: pointer;
    background-color: #F9FBE7;
  }

  .post-box .title {
    /*font-size: 2vmax;*/
  }

  .post-box .description {
    font-size: small;
    text-align: center;
  }

  footer {
    background-color: #212121;
    color: white;
    text-align: center;
    padding: 60px 40px;
  }

  .footer {
    display: block;
    width: 100%;
  }

  footer ul {
    list-style: none;
    /* override browser's default alignment */
    margin: 0px;
    padding: 0px;
  }

  footer ul li {
    margin-top: 10px;
  }

  footer a {
    text-decoration: none;
    color: white;
  }

  /* html elements */
  a {
    text-decoration: none;
  }

  .btn {
    background-color: #F9FBE7;
    color: #646464;
    padding: 1em 2em;
    display: block;
  }

  .btn:hover {
    background-color: #E6EE9C;
  }

  .main-btn {
    background-color: #009688;
    color: white;
  }

  .main-btn:hover {
    background-color: #009688;
  }

.post .body {
  text-align: justify;
}

.post a {
  text-decoration: none;
  color: #212121;
  font-size: large;
  margin: 0 3px;
}

/*
  Apply material design to input elements
*/
input {
  margin-top: 1em;
  font-size: 1em;
  border: none;
  line-height: 2em;
  border-bottom: 1px solid black;
  background-color: transparent;
  /* TODO: find how to apply the fucking transitions! */
    -webkit-transition: line-height 11s ease;
    -moz-transition: line-height 11s ease;
    -o-transition: line-height 11s ease;
    -ms-transition: line-height 11s ease;
    transition: line-height 11s ease;
    color:white;
}

input:focus {
  outline: 0;
  border-bottom: 2px solid black;
}

/*
  PLACEHOLDER COLOR ---- BEGINS
  input placeholder color defined on different selectors
  since some rendering motors would ignore the attributes when any of the
  selectors on the list is not understood
*/
::-webkit-input-placeholder {
   color: white;
}

:-moz-placeholder { /* Firefox 18- */
   color: white;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white;
}

:-ms-input-placeholder {
   color: white;
}
/* PLACEHOLDER COLOR ---------- ENDS */

input:focus::-webkit-input-placeholder {
  font-size: 0.85em;
}

input:focus:-moz-placeholder { /* Firefox 18- */
   font-size: 0.85em;
}

input:focus::-moz-placeholder {  /* Firefox 19+ */
   font-size: 0.85em;
}

input:focus:-ms-input-placeholder {
   font-size: 0.85em;
}

.search-icon {
  margin-left: -30px;
  vertical-align: -webkit-baseline-middle;
  background-color: transparent;
  border: none;
  display: inline-block;
}

ul {
  margin: 0px;
  padding: 0px;
  text-transform: capitalize;
}

ul.menu {
  background-color: #8BC34A;
  text-align: right;
}


ul.menu li {
  list-style-type: none;
  /*display: inline-block;*/
  text-align: center;
  margin-right: 40px;
  display: none;
}

ul.menu li.hamburguer {
  display: block;
  font-size: larger;
  line-height: 2em;
  background-color: #388E3C;
  cursor: pointer;
}

ul.menu li.hamburguer a {
  color: white;
  font-weight: bold;
}

ul.menu li {
  width: 100%;
  margin: 0px;
  height: 40px;
}

ul.menu li input {
  min-width: 200px;
}
