/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {


  ul.menu li {
    list-style-type: none;
    display: inline-block;
    text-align: center;
    margin-right: 40px;
    width: auto;
  }

  ul.menu li.hamburguer {
    display: none;
  }

  ul.menu li.hamburguer-action {
    display: inline-block;
  }

  .page-content.post {
    margin: 40px 10% 0px 10%;
  }

  .new-comment-box textarea {
    width: 80%;
  }
  .new-comment-box button {
  }

  .full-welcome {
    padding: 10% 0px 10% 0px
  }

  .btn {
    width: auto;
    display: inline;
  }

  .button-section a:first-child {
    margin-right: 1em;
  }
}
