/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

  .page-content {
    margin: 10px 20px;
  }


  .post-row {
    display: inline-flex;
  }

  .post-box {
    max-width: 300px;
    margin: 10px 20px;
    padding: 10px;
  }



}
