/*
* Default extra small devices
*/
body {
  margin: 0px;
  padding: 0px;
  /* everything will be centered unless it is overridden */
  text-align: center;
  font-family: RobotoDraft;
  color: white;
  font-size: 1em;
  line-height: 1.5em;
}




.full-welcome {
  padding: 3% 0px 0px 0px;
  /* TODO: find a nice image */
  /*background-image: url("../img/nopalcode-ico.gif");*/
  /*background-repeat: no-repeat;
  background-position: center;*/
  background-color: #8BC34A;
}

.title {
  font-weight: bold;
  margin: 1% auto;
  font-size: large;
}

.subtitle {
  font-size: small;
  font-style: italic;
}

.button-section {
  margin-top: 20px;
}

.page-content {
  margin: 0px 1%;
  padding: 0px;
  color: #646464;
}

.welcome .page-content {
  background-color: white;
}

.fixed-text {
  text-align: justify;
  font-style: normal;
}

  .post-row {
    margin-top: 20px;
    width: 100%;
  }

.post-box {
  width: 100%;
  margin: 20px 0px;
  border-bottom: solid 1px black;
}

  .post-box:hover {
    /* make the illusion of a link element */
    cursor: pointer;
    background-color: #F9FBE7;
  }

  .post-box .title {
    /*font-size: 2vmax;*/
  }

  .post-box .description {
    font-size: small;
    text-align: center;
  }

  footer {
    background-color: #212121;
    color: white;
    text-align: center;
    padding: 60px 40px;
  }

  .footer {
    display: block;
    width: 100%;
  }

  footer ul {
    list-style: none;
    /* override browser's default alignment */
    margin: 0px;
    padding: 0px;
  }

  footer ul li {
    margin-top: 10px;
  }

  footer a {
    text-decoration: none;
    color: white;
  }

  /* html elements */
  a {
    text-decoration: none;
  }

  .btn {
    background-color: #F9FBE7;
    color: #646464;
    padding: 1em 2em;
    display: block;
  }

  .btn:hover {
    background-color: #E6EE9C;
  }

  .main-btn {
    background-color: #009688;
    color: white;
  }

  .main-btn:hover {
    background-color: #009688;
  }

.post .body {
  text-align: justify;
}

.post a {
  text-decoration: none;
  color: #212121;
  font-size: large;
  margin: 0 3px;
}

/*
  Apply material design to input elements
*/
input, textarea {
  font-size: 1em;
  border: none;
  line-height: 2em;
  border-bottom: 1px solid black;
  background-color: transparent;
  /* TODO: find how to apply the fucking transitions! */
    -webkit-transition: line-height 11s ease;
    -moz-transition: line-height 11s ease;
    -o-transition: line-height 11s ease;
    -ms-transition: line-height 11s ease;
    transition: line-height 11s ease;
    color:white;
}

textarea:focus,
input:focus {
  outline: 0;
  border-bottom: 2px solid black;
}

/*
  PLACEHOLDER COLOR ---- BEGINS
  input placeholder color defined on different selectors
  since some rendering motors would ignore the attributes when any of the
  selectors on the list is not understood
*/
::-webkit-input-placeholder {
   color: white;
}

:-moz-placeholder { /* Firefox 18- */
   color: white;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white;
}

:-ms-input-placeholder {
   color: white;
}
/* PLACEHOLDER COLOR ---------- ENDS */

input:focus::-webkit-input-placeholder {
  font-size: 0.85em;
}

input:focus:-moz-placeholder { /* Firefox 18- */
   font-size: 0.85em;
}

input:focus::-moz-placeholder {  /* Firefox 19+ */
   font-size: 0.85em;
}

input:focus:-ms-input-placeholder {
   font-size: 0.85em;
}

ul {
  margin: 0px;
  padding: 0px;
  text-transform: capitalize;
}

ul.menu {
  background-color: #8BC34A;
  text-align: right;
}

ul.menu.opened {
  -webkit-transition-property: all;
    -webkit-transition-duration: .5s;
    -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    -moz-transition-property: all;
    -moz-transition-duration: .5s;
    -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    -ms-transition-property: all;
    -ms-transition-duration: .5s;
    -ms-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

ul.menu li a {
  width: 100$;
  display: block;
  padding: 10px;
  margin: 0px;
}

ul.menu li {
  list-style-type: none;
  text-align: center;
  margin-right: 40px;
  display: none;
}

ul.menu li.hamburguer-action {
  display: block;
}

ul.menu li.hamburguer {
  display: block;
  font-size: larger;
  background-color: #388E3C;
  cursor: pointer;
}

ul.menu li.hamburguer a {
  color: white;
  font-weight: bold;
}

ul.menu li {
  width: 100%;
  margin: 0px;
  height: 40px;
}

ul.menu li a.search-icon {
  margin-left: -30px;
  vertical-align: -webkit-baseline-middle;
  background-color: transparent;
  border: none;
  display: inline-flex;
  padding: 0px;
}

ul.menu li input {
  /*min-width: 200px;*/
}


.comments {
  background-color: #CDDC39;
  text-align: justify;
  box-shadow: 0px 6px 14px black;
  margin-top: 20px;
}

/* FIXME: Maybe add this as a div instead of going directly for the h2 element */
.comments h2 {
  padding: 17px;
}

.comments .comment {
  border-width: 0 0 3px 0;
    -webkit-border-image:
        -webkit-gradient(linear, 100% 0, 0 0, from(black), to(rgba(0, 0, 0, 0))) 100% 1;
    -webkit-border-image:
        -webkit-linear-gradient(top, black, rgba(0, 0, 0, 0)) 100% 1;
    -o-border-image:
             -o-linear-gradient(top, black, rgba(0, 0, 0, 0)) 100% 1;
    -moz-border-image:
           -moz-linear-gradient(top, black, rgba(0, 0, 0, 0)) 100% 1;
}

.comments .comment:last-child {
  border: none;
}

.comments .comment:last-child:hover {
  border: none;
}

.comments .comment:hover {
  border-width: 0 0 3px 0;
  -webkit-border-image:
      -webkit-gradient(linear, 100% 0, 0 0, from(#646464), to(rgba(0, 0, 0, 0))) 100% 1;
  -webkit-border-image:
      -webkit-linear-gradient(top, #646464, rgba(0, 0, 0, 0)) 100% 1;
  -o-border-image:
           -o-linear-gradient(top, #646464, rgba(0, 0, 0, 0)) 100% 1;
  -moz-border-image:
         -moz-linear-gradient(top, #646464, rgba(0, 0, 0, 0)) 100% 1;
}

.comment .meta {
  font-size: small;
  font-style: italic;
}

.new-comment-box {
  padding: 10px;
}

.new-comment-box textarea {
  width: 100%;
  line-height: 1em;
  color: black;
}

.new-comment-box button {
  vertical-align: text-bottom;
  cursor: pointer;
}

.new-comment-box textarea::-webkit-input-placeholder {
   color: #646464;
}

.new-comment-box textarea:-moz-placeholder { /* Firefox 18- */
   color: #646464;
}

.new-comment-box textarea::-moz-placeholder {  /* Firefox 19+ */
   color: #646464;
}

.new-comment-box textarea:-ms-input-placeholder {
   color: #646464;
}

.page-content.post {
  margin: 20px 20px 0px 20px;
  padding: 20px 20px 0px 20px;
  box-shadow: 0px 6px 14px black;
}

.btn-material {
  line-height: 55px;
  font-size: 1.6rem;
  display: inline-block;
  text-align: center;
  color: white;
  border-radius: 50%;
  border: none;
  box-shadow: 3px 2px 14px black;
  width: 55px;
}

/* TODO: support more button colors */

.blue-btn {
  background-color: #03A9F4;
}

.blue-btn:hover {
  background-color: #29B6F6;
}
